html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Helper classes
 */

.display-none {
    display: none;
}

/*
 * Styles for modal window
 */

.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

.modal-header {
    text-align: center;
}

.score-panel-modal {
    text-align: center;
}

.stars-modal {
    list-style-type: none;
    padding: 0;
}

.stars-modal li {
    display: inline-block;
    font-size: 64px;
    color: #f4c242;
}

.modal-paragraph {
    text-align: center;
    font-size: 24px;
}

.modal-restart {
    background-color: #2D8BA4;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 36px;
    margin: 40px auto;
    padding: 15px;
    text-align: center;
    transition: .3s;
    width: 240px;
}

.modal-restart:hover {
    background-color: #808DC7;
}

/*
 * Timer display styles
 */

.timer-label {
    text-align: center;
    font-size: 36px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel-regular {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel-regular .stars {
    display: inline-block;
}

.stars-regular {
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
}

.score-panel-regular .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel-regular .restart {
    float: right;
    cursor: pointer;
}
